datacenter = "{{nomad_datacenter}}"
data_dir = "/opt/nomad/serverdata"
bind_addr = "{{ nomad_bind_addr }}"
advertise {
  # Defaults to the first private IP address.
  http = "{{ nomad_advertise_addr }}"
  rpc  = "{{ nomad_advertise_addr }}"
  serf = "{{ nomad_advertise_addr }}"
}

consul {
  address = "{{nomad_consul_address}}:8500"
}