#jinja2: lstrip_blocks: "True", trim_blocks: "True"
{% for host in groups['servers'] %}
[Peer]
# {{ hostvars[host]['ansible_hostname'] }}
PublicKey = {{hostvars[host].wg_public_key.content | b64decode | trim}}
AllowedIPs = {{hostvars[host]['ansible_wg0']['ipv6'][0]['address']}}/64
  {% if hostvars[host].wireguard_persistent_keepalive is defined %}
PersistentKeepalive = {{hostvars[host].wireguard_persistent_keepalive}}
  {% endif %}
Endpoint = {{hostvars[host]['host_ext']}}:{{wg_port}}

{% endfor %}
{% for host in groups['clients'] %}
[Peer]
# {{ hostvars[host]['ansible_hostname'] }}
PublicKey = {{hostvars[host].wg_public_key.content | b64decode | trim}}
AllowedIPs = {{hostvars[host]['ansible_wg0']['ipv6'][0]['address']}}/64
  {% if hostvars[host].wireguard_persistent_keepalive is defined %}
PersistentKeepalive = {{hostvars[host].wireguard_persistent_keepalive}}
  {% endif %}
Endpoint = {{hostvars[host]['host_ext']}}:{{wg_port}}

{% endfor %}

{% for host in groups['clientservers'] %}
[Peer]
# {{ hostvars[host]['ansible_hostname'] }}
PublicKey = {{hostvars[host].wg_public_key.content | b64decode | trim}}
AllowedIPs = {{hostvars[host]['ansible_wg0']['ipv6'][0]['address']}}/64
  {% if hostvars[host].wireguard_persistent_keepalive is defined %}
PersistentKeepalive = {{hostvars[host].wireguard_persistent_keepalive}}
  {% endif %}
Endpoint = {{hostvars[host]['host_ext']}}:{{wg_port}}

{% endfor %}