[servers]
{% for host in groups['servers'] %}
{{hostvars[host]['ansible_hostname']}} ansible_host={{hostvars[host]['ansible_wg0']['ipv6'][0]['address']}} host_ext={{hostvars[host]['host_ext']}} {%if hostvars[host]['host_extv4'] is defined%}host_extv4={{hostvars[host]['host_extv4']}}{%endif%} {%if hostvars[host]['host_extv6'] is defined%}host_extv6={{hostvars[host]['host_extv6']}}{%endif%} 
{% endfor %}

[clients]
{% for host in groups['clients'] %}
{{hostvars[host]['ansible_hostname']}} ansible_host={{hostvars[host]['ansible_wg0']['ipv6'][0]['address']}} host_ext={{hostvars[host]['host_ext']}} {%if hostvars[host]['host_extv4'] is defined%}host_extv4={{hostvars[host]['host_extv4']}}{%endif%} {%if hostvars[host]['host_extv6'] is defined%}host_extv6={{hostvars[host]['host_extv6']}}{%endif%} 
{% endfor %}

[clientservers]
{% for host in groups['clientservers'] %}
{{hostvars[host]['ansible_hostname']}} ansible_host={{hostvars[host]['ansible_wg0']['ipv6'][0]['address']}} host_ext={{hostvars[host]['host_ext']}} {%if hostvars[host]['host_extv4'] is defined%}host_extv4={{hostvars[host]['host_extv4']}}{%endif%} {%if hostvars[host]['host_extv6'] is defined%}host_extv6={{hostvars[host]['host_extv6']}}{%endif%} 
{% endfor %}