#!/usr/bin/env python3

import requests
import json
import os

zone_name = os.getenv('HCLOUD_DNSAPI_UPDATE_ZONE_NAME')
print('zone_name: ' + zone_name)
record_names = (os.getenv('HCLOUD_DNSAPI_UPDATE_RECORD_NAMES')).split(",")
print('record_names: ' + "".join(record_names))
if "HCLOUD_DNSAPI_UPDATE_RECORD_TYPES" in os.environ:
    record_types = (os.getenv('HCLOUD_DNSAPI_UPDATE_RECORD_TYPES')).split(",")
else:
    record_types = [ 'AAAA', 'A' ]

{%if host_extv4 is defined %}address4 = '{{host_extv4}}'{%else%}address4 = ''{%endif%} 
{%if host_extv6 is defined %}address6 = '{{host_extv6}}'{%else%}address6 = ''{%endif%} 

def read_hcloud_dns_token():
    f = open("/opt/hcloud-dnsapi/hcloud_dns_token", "r")
    return f.read().splitlines()[0]

def get_all_zones(hcloud_dns_token):
    # Get Zones
    # GET https://dns.hetzner.com/api/v1/zones

    try:
        response = requests.get(
            url="https://dns.hetzner.com/api/v1/zones",
            headers={
                "Auth-API-Token": hcloud_dns_token,
                "Content-Type": "application/json",
            },
        )
        return response.json()
    except requests.exceptions.RequestException:
        print('HTTP Request failed')

def get_all_records(hcloud_dns_token, zone_id):
    # Get Records
    # GET https://dns.hetzner.com/api/v1/records

    try:
        response = requests.get(
            url="https://dns.hetzner.com/api/v1/records",
            params={
                "zone_id": zone_id,
            },
            headers={
                "Auth-API-Token": hcloud_dns_token,
            },
        )
        return response.json()
    except requests.exceptions.RequestException:
        print('HTTP Request failed')


def get_zone_id(hcloud_dns_token, zone):
    get_all_zones_response = get_all_zones(hcloud_dns_token)
    for z in get_all_zones_response["zones"]:
        if z['name'] == zone:
            return z['id']
        
def get_record_id(hcloud_dns_token, zone_id, record_name, record_type):
    get_all_records_response = get_all_records(hcloud_dns_token, zone_id)
    for r in get_all_records_response["records"]:
        if r['name'] == record_name and r['type'] == record_type:
            return r['id']
    return None

def update_record(hcloud_dns_token, zone_id, record_id, record_name, record_type, record_value, record_ttl =0):
    # Update Record
    # PUT https://dns.hetzner.com/api/v1/records/{RecordID}

    try:
        response = requests.put(
            url="https://dns.hetzner.com/api/v1/records/"+record_id,
            headers={
                "Content-Type": "application/json",
                "Auth-API-Token": hcloud_dns_token,
            },
            data=json.dumps({
                "value": record_value,
                "ttl": record_ttl,
                "type": record_type,
                "name": record_name,
                "zone_id": zone_id
            })
        )
        return response.status_code
    except requests.exceptions.RequestException:
        print('HTTP Request failed')

def create_record(hcloud_dns_token, zone_id, record_name, record_type, record_value, record_ttl =0):
    # Create Record
    # POST https://dns.hetzner.com/api/v1/records

    try:
        response = requests.post(
            url="https://dns.hetzner.com/api/v1/records",
            headers={
                "Content-Type": "application/json",
                "Auth-API-Token": hcloud_dns_token,
            },
            data=json.dumps({
                "value": record_value,
                "ttl": record_ttl,
                "type": record_type,
                "name": record_name,
                "zone_id": zone_id
            })
        )
        return response.status_code
    except requests.exceptions.RequestException:
        print('HTTP Request failed')

def main():
    # Get API Token
    hcloud_dns_token = read_hcloud_dns_token()
    print("hcloud_dns_token prefix: " + hcloud_dns_token[0:9])

    # Get Zone ID
    zone_id = get_zone_id(hcloud_dns_token, zone_name)
    print("zone_id: " + zone_id)

    # Get Record IDs
    for record_name in record_names:
        if address4:
            record_id4 = get_record_id(hcloud_dns_token, zone_id, record_name, 'A')
            if not record_id4 is None:
                print("record_id4: " + record_id4)
            else:
                print("record_id4: Does not exist, create")
        if address6:
            record_id6 = get_record_id(hcloud_dns_token, zone_id, record_name, 'AAAA')
            if not record_id6 is None:
                print("record_id6: " + record_id6)
            else:
                print("record_id6: Does not exist, create")

    # Update / Create Records
        if address4 and 'A' in record_types:
            if not record_id4 is None:
                update_record_response_status_code4 = update_record(hcloud_dns_token, zone_id, record_id4, record_name, 'A', address4, 60)
                if update_record_response_status_code4 == 200:
                    print("update "+record_name+"->"+address4+": ok")
                else:
                    print("update "+record_name+"->"+address4+": failed")
            else:
                create_record_response_status_code4 = create_record(hcloud_dns_token, zone_id, record_name, 'A', address4, 60)
                if create_record_response_status_code4 == 200:
                    print("create "+record_name+"->"+address4+": ok")
                else:
                    print("create "+record_name+"->"+address4+": failed")
        if address6 and 'AAAA' in record_types:
            if not record_id6 is None:
                update_record_response_status_code6 = update_record(hcloud_dns_token, zone_id, record_id6, record_name, 'AAAA', address6, 60)
                if update_record_response_status_code6 == 200:
                    print("update "+record_name+"->"+address6+": ok")
                else:
                    print("update "+record_name+"->"+address6+": failed")
            else:
                create_record_response_status_code6 = create_record(hcloud_dns_token, zone_id, record_name, 'AAAA', address6, 60)
                if create_record_response_status_code6 == 200:
                    print("create "+record_name+"->"+address6+": ok")
                else:
                    print("create "+record_name+"->"+address6+": failed")

if __name__ == "__main__":
    main()
