data_dir = "/opt/nomad/clientdata"

client {
    enabled = true
    network_interface = "{{nomad_network_interface}}"

{% for nomad_client_host_volume in nomad_client_host_volumes %}
    host_volume "{{nomad_client_host_volume.name}}" {
      path      = "{{nomad_client_host_volume.path}}"
      read_only = "{{nomad_client_host_volume.read_only}}"
    }
{% endfor %}
{% for nomad_client_host_network in nomad_client_host_networks %}
    host_network "{{nomad_client_host_network.name}}" {
      {% if nomad_client_host_network.cidr is defined %}cidr           = "{{nomad_client_host_network.cidr}}"{% endif %} 
      {% if nomad_client_host_network.interface is defined %}interface      = "{{nomad_client_host_network.interface}}"{% endif %} 
      {% if nomad_client_host_network.reserved_ports is defined %}reserved_ports = "{{nomad_client_host_network.reserved_ports}}"{% endif %} 
    }
{% endfor %}
}

plugin "raw_exec" {
  config {
    enabled = true
  }
}

plugin "docker" {
  config {
    gc {
      image_delay = "{{ nomad_client_docker_gc_image_delay | default('3m') }}"
    }

    volumes {
      enabled = true
    }

    allow_caps = [{% for nomad_client_cap in nomad_client_caps %} "{{nomad_client_cap}}"{% if not loop.last %},{% endif %}{% endfor %} ]
  }
}

consul {
  checks_use_advertise = true
}
