data_dir = "/opt/nomad/serverdata"

server {
  enabled = true
  bootstrap_expect = "{{ nomad_bootstrap_expect }}"
  server_join {
    retry_join = [ "{{ nomad_server_retry_join | join('", "') }}" ]
  }
}
