[Unit]
Description=Glustermounting
Requires=glusterd.service

[Service]
Type=simple
RemainAfterExit=true
ExecStartPre=/usr/sbin/gluster volume list
ExecStart=/usr/sbin/glusterfs --process-name fuse --volfile-server={{gluster_volfile_server}} --volfile-id=/{{item.volname}} --xlator-option transport.address-family=inet6 /mnt/gluster-{{item.volname}}
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target


