volume management
    type mgmt/glusterd
    option working-directory /var/lib/glusterd
    option transport-type socket,rdma
    option transport.socket.keepalive-time 10
    option transport.socket.keepalive-interval 2
    option transport.socket.read-fail-log off
    option transport.socket.listen-port 24007
#   Volume mounting fails for unknown reason if bound to IPv6-only wg0 interface
#    option transport.socket.bind-address {{gluster_bind_addr}}
#    option transport.rdma.bind-address {{gluster_bind_addr}}
    option transport.rdma.listen-port 24008
    option ping-timeout 0
    option event-threads 1
#   option lock-timer 180
    option transport.address-family inet6
#   option base-port 49152
    option max-port  60999
end-volume