datacenter = "dc1"

data_dir = "/opt/consul"

performance {
  raft_multiplier = 5
}

encrypt = "{{ consul_encrypt }}"

ui = true

client_addr = "{{ consul_client_addr }}"

bind_addr = "{{ consul_bind_addr }}"

retry_join = [ "{{ consul_retry_join | join('", "') }}" ]
