#jinja2: lstrip_blocks: "True", trim_blocks: "True"
[Interface]
{% for host in groups['clientservers'] %}
  {% if hostvars[host]['ansible_hostname'] == inventory_hostname %}
Address = {{ 'fd00:0:1:0010::/60' | ipsubnet(64, loop.index) | ipmath(1) }}/60
  {% endif %}
{% endfor %}

{% for host in groups['servers'] %}
  {% if hostvars[host]['ansible_hostname'] == inventory_hostname %}
Address = {{ 'fd00:0:1:0020::/60' | ipsubnet(64, loop.index) | ipmath(1) }}/60
  {% endif %}
{% endfor %}

{% for host in groups['clients'] %}
  {% if hostvars[host]['ansible_hostname'] == inventory_hostname %}
Address = {{ 'fd00:0:1:0030::/60' | ipsubnet(64, loop.index) | ipmath(1) }}/60
  {% endif %}
{% endfor %}

PrivateKey = {{ wg_private_key.content | b64decode | trim }}
ListenPort = {{ wg_port }}
{% if hostvars[inventory_hostname].wireguard_dns is defined %}
DNS = {{hostvars[inventory_hostname].wireguard_dns}}
{% endif %}
{% if hostvars[inventory_hostname].wireguard_fwmark is defined %}
FwMark = {{hostvars[inventory_hostname].wireguard_fwmark}}
{% endif %}
{% if hostvars[inventory_hostname].wireguard_mtu is defined %}
MTU = {{hostvars[inventory_hostname].wireguard_mtu}}
{% endif %}
{% if hostvars[inventory_hostname].wireguard_table is defined %}
Table = {{hostvars[inventory_hostname].wireguard_table}}
{% endif %}
{% if hostvars[inventory_hostname].wireguard_preup is defined %}
{% for wg_preup in hostvars[inventory_hostname].wireguard_preup %}
PreUp = {{ wg_preup }}
{% endfor %}
{% endif %}
{% if hostvars[inventory_hostname].wireguard_predown is defined %}
{% for wg_predown in hostvars[inventory_hostname].wireguard_predown %}
PreDown = {{ wg_predown }}
{% endfor %}
{% endif %}
{% if hostvars[inventory_hostname].wireguard_postup is defined %}
{% for wg_postup in hostvars[inventory_hostname].wireguard_postup %}
PostUp = {{ wg_postup }}
{% endfor %}
{% endif %}
{% if hostvars[inventory_hostname].wireguard_postdown is defined %}
{% for wg_postdown in hostvars[inventory_hostname].wireguard_postdown %}
PostDown = {{ wg_postdown }}
{% endfor %}
{% endif %}
{% if hostvars[inventory_hostname].wireguard_save_config is defined %}
SaveConfig = true
{% endif %}

{% for host in groups['clientservers'] %}
  {% if hostvars[host]['ansible_hostname'] != inventory_hostname %}
  
[Peer]
# {{ hostvars[host]['ansible_hostname'] }}
PublicKey = {{hostvars[host].wg_public_key.content | b64decode | trim}}
AllowedIPs = {{ ('fd00:0:1:0010::/60' | ipsubnet(64, loop.index)) }}
AllowedIPs = {{ ('fd00:0:1:0040::/60' | ipsubnet(64, loop.index)) }}
    {% if hostvars[host].wireguard_persistent_keepalive is defined %}
PersistentKeepalive = {{hostvars[host].wireguard_persistent_keepalive}}
    {% endif %}
Endpoint = {{hostvars[host]['host_ext']}}:{{wg_port}}
  {% endif %}
{% endfor %}

{% for host in groups['servers'] %}
  {% if hostvars[host]['ansible_hostname'] != inventory_hostname %}
  
[Peer]
# {{ hostvars[host]['ansible_hostname'] }}
PublicKey = {{hostvars[host].wg_public_key.content | b64decode | trim}}
AllowedIPs = {{ ('fd00:0:1:0020::/60' | ipsubnet(64, loop.index)) }}
AllowedIPs = {{ ('fd00:0:1:0040::/60' | ipsubnet(64, loop.index)) }}
    {% if hostvars[host].wireguard_persistent_keepalive is defined %}
PersistentKeepalive = {{hostvars[host].wireguard_persistent_keepalive}}
    {% endif %}
Endpoint = {{hostvars[host]['host_ext']}}:{{wg_port}}
  {% endif %}
{% endfor %}

{% for host in groups['clients'] %}
  {% if hostvars[host]['ansible_hostname'] != inventory_hostname %}
  
[Peer]
# {{ hostvars[host]['ansible_hostname'] }}
PublicKey = {{hostvars[host].wg_public_key.content | b64decode | trim}}
AllowedIPs = {{ ('fd00:0:1:0030::/60' | ipsubnet(64, loop.index)) }}
AllowedIPs = {{ ('fd00:0:1:0040::/60' | ipsubnet(64, loop.index)) }}
    {% if hostvars[host].wireguard_persistent_keepalive is defined %}
PersistentKeepalive = {{hostvars[host].wireguard_persistent_keepalive}}
    {% endif %}
Endpoint = {{hostvars[host]['host_ext']}}:{{wg_port}}
  {% endif %}
{% endfor %}

[Peer]
# jump host
PublicKey = {{wireguard_jump_publickey}}
AllowedIPs = {{wireguard_jump_allowedips}}
